* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #111517;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #111517;
}

.dark-mode-toggle:hover {
  opacity: 0.8;
}

/* Dark mode styles */
.dark {
  background-color: #2b3945;
}

.dark .header {
  background-color: #2b3945;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dark .title,
.dark .dark-mode-toggle {
  color: white;
}

/* Moon icon using Unicode */
.moon-icon {
  font-size: 0.875rem;
}

#install-button {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 68px);
  background-color: #4CAF50; /* Cor verde */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

#install-button:hover {
  background-color: #45a049; /* Cor verde mais escuro no hover */
  transform: scale(1.05); /* Leve aumento de tamanho no hover */
}

#install-button:active {
  background-color: #388e3c; /* Cor verde mais escuro no clique */
  transform: scale(1);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 5rem;
}

@media (min-width: 300px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 635px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1150px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


.card {
  max-width: 400px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card-flag {
  width: 100%;
  height: 207px;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #111517;
}

.card-details {
  font-size: 0.875rem;
  line-height: 1.8;
  color: #111517;
}

.card-label {
  font-weight: 600;
}

.card-value {
  color: #111517;
}

/* Dark mode styles */
.dark {
  background-color: #202c37;
}

.dark .card {
  background-color: #2b3945;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.dark .card-title,
.dark .card-details,
.dark .card-value {
  color: white;
}